.question-box-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.answers {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 0 15px;
}

.question-number {
  align-self: flex-start;
  background-color: white;
  border: 2px solid rgb(29, 28, 97);
  border-radius: 60%;
  color: rgb(29, 28, 97);
  font-size: 18px;
  padding: 10px;
}

.time-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  text-align: center;
  width: 200px;
}

.hurry-up {
  background-color: red;
  color: white;
}

.right-answer {
  background-color: rgb(6, 240, 15);
  background-image: none;
  border: 3px solid rgb(6, 240, 15);
  color: black;
  margin: 5px;
}

.wrong-answer {
  background-color: red;
  border: 3px solid red;
  color: white;
  margin: 5px;
}

.next {
  background-color: black;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 5px 5px 10px black;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  width: 200px;
}

.next:hover {
  color: black;
  background-color: white;
}

.disabled {
  background-color: rgb(93, 92, 92);
  background-image: none;
  color: black;
}

.pName {
  color: white;
  font-size: 16px;
  font-weight: 900;
  font-family: 'Bungee', cursive;
  margin-top: 20px;
}

.pScore {
  color: white;
  font-size: 16px;
  font-weight: 900;
  font-family: 'Bungee', cursive;
}

.head-size {
  padding: 0 30px;
  width: 300px;
  margin-top: 10px;
}