.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-main {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-game {
  background-image: linear-gradient(45deg,#00052B, #2C357A, #6B74C3, #0D3692, #000932, blue,white);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-game-header {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.5);
  min-height: 10vh;
  font-weight: 600;
  box-shadow: 0 5px 40px black;
  color: white;
  width: 100%;
}

.App-game-body {
  min-height: 90vh;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.profile-pic {
  border-radius: 50%;
  padding: 0 100px;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.answer {
  background-image: linear-gradient(20deg,
    rgb(104, 27, 27),
    rgb(167, 16, 16),
    rgb(179, 52, 52),
    rgb(190, 9, 9));
  border: 2px solid white;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 5px;
  width: 450px;
}

.question-box {
  background-color: white;
  background-image: linear-gradient(20deg,
    rgb(104, 27, 27),
    rgb(167, 16, 16),
    rgb(179, 52, 52),
    rgb(190, 9, 9));
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  color: white;
  flex-direction: column;
  font-weight: 600;
  margin: 40px;
  padding: 20px;
  text-align: center;
  width: 400px;
}